<P style="font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Tickets para BadBunny</P>
<p style="font-size: 14px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Nombre completo:</p>
<input [(ngModel)]="nom"/>
<p> </p>
<p style="font-size: 14px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Cédula:</p>
<input [(ngModel)]="cdl"/>
<p> </p>
<p style="font-size: 14px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Email:</p>
<input [(ngModel)]="ema"/>
<p></p>
<p style="font-size: 14px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Tarjeta de crédito/débito:</p>
<input [(ngModel)]="pass"/>
<p> </p>
<p style="font-size: 14px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Número de teléfono:</p>
<input [(ngModel)]="numt"/>
<p> </p> 

<!-- <strong *ngIf="numero > 3">El número es mayor a 3</strong>
<strong *ngIf="numero == 3">El número es igual a 3</strong>
<strong *ngIf="numero < 3">El número es menor a 3</strong>
<p>-------------------------------------------------------</p>
<ul *ngFor="let sueldo of sueldos">
    <li>Sueldo: {{sueldo}}</li>
</ul>
<div *ngFor="let sueldo of sueldos">
    <div>Sueldo: {{sueldo}}</div>
</div>
<p>-------------------------------------------------------</p> -->
<button (click)="almacenar()" onclick="location.href='2'">Enviar</button>
<input type="reset" value="Borrar">